<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The date is</h1>
    <p>Monday, August 27, 2018 <%= Time.now %></p>
  </body>
</html>
